# Environnements
.env
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# Système
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Fichiers temporaires
*.log
*.bak
*.tmp
*.swp
*.swo

# Fichiers générés
corpus_zola_nettoye.csv